<html>
<head>
    <title>Analyse Sentimentale</title>
    <link type="text/css" href="/css/style.css" rel="stylesheet">
</head>
<body>
<div id="form">
    <h3>Analyse Sentimentale</h3>
    <form method="post" action="/sentimental/analyse/testing">


        <label>Entrez votre text </label><textarea name="query" ></textarea> <input type="submit" value="Analyser">
    </form>
    <ul>

        <li><a style="color: blue">Analyse: </a> <a>Score: </a>{{analyze.score}} <a>Comparison: </a>{{analyze.comparative}}</li>
        <li><a style="color: blue">Positivité: </a><a>Score: </a>{{positivity.score}} <a>Comparison: </a>{{positivity.comparative}} <a>Liste des mots: </a>{{positivity.words}}</li>
        <li><a style="color: blue">Négativité: </a><a>Score: </a>{{negativity.score}} <a>Comparison: </a>{{negativity.comparative}} <a>Liste des mots: </a>{{negativity.words}}</li>

    </ul>

</div>
</body>
</html>